<h2>Recent Uploads</h2>
<ul>
[% WHILE ( release = releases.next ) %]
    <li><a href="[% c.uri_for( '/dist', release.distribution.name, release.version) %]">[% release.name %]</a></li>
[% END %]
</ul>
