<!DOCTYPE HTML>
<html lang=en>
<head>
<meta charset=utf-8>
<title>CPANHQ[% IF title; " - $title"; END %]</title>
<link type="text/css" rel=stylesheet href="[% c.uri_for( '/static/css/cpanhq.css' ) %]">
<!-- Prevent the hot-linking as well as the fact these header elements appear
on all pages 
-->
<link type="text/css" href="[% c.uri_for( '/static/jqueryui/themes/base/ui.all.css' ) %]" rel="stylesheet">
<script type="text/javascript" src="[% c.uri_for( '/static/js/jquery.js') %]"></script>
<script type="text/javascript" src="[% c.uri_for( '/static/jqueryui/ui.core.js' ) %]"></script>
<script type="text/javascript" src="[% c.uri_for( '/static/jqueryui/ui.tabs.js' ) %]"></script>
</head>
<body>
<div id=wrapper>
    <div id=header>
<h1>CPANHQ</h1>
<ul id=topmenu>
    <li><a href="[% c.uri_for('/') %]">Home</a></li>
    <li><a href="[% c.uri_for('/about') %]">About</a></li>
    <li><a href="http://github.com/bricas/cpanhq/">Code</a></li>
    <li><a href="[% c.uri_for('/status') %]">Status</a></li>
    <li><a href="http://github.com/bricas/cpanhq/issues">Issues</a></li>
</ul>
<p class="login">
[% IF c.user_exists %]
Logged in as [% c.user.display_name %] (<a href="[% c.uri_for('/logout') %]">Logout</a>)
[% ELSE %]
Not logged in (<a href="[% c.uri_for('/login') %]">Login</a>)
[% END %]
</p>
    </div>
    <div id=content>
[% content %]
    </div>
[% INSERT "static/tweets.html-portion" %]
    <div id=footer>
<ul id=botmenu>
    <li class=first><a href="[% c.uri_for('/about') %]">About CPANHQ</a></li>
    <li>Licensed under the same terms as Perl itself</li>
</ul>

    </div>
</div>

</body>
</html>
