<h2>[% author.name %] ([% author.cpanid %])</h2>
[% releases = author.releases_rs %]
<ul>
[% WHILE( release = releases.next ) %]
<li><a href="[% c.uri_for( '/dist', release.distribution.name, release.version ) %]">[% release.name %]</a> on [% release.release_date.ymd %]</li>
[% END %]
</ul>
